{
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "comma-dangle": [0],
    "object-curly-spacing": [2, "always"],
    "camelcase": [0],
    "no-underscore-dangle": [0],
    "prefer-rest-params": [0]
  }
}
